<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>
    <body>
        <form method="POST" action="">
            <p>
            <select name="sensor_id" required onchange="this.form.submit()">
                <option value="" selected disabled hidden>Choose sensor</option>
                {% for sensor_id, sensor_name in sensors_list.items() %}
                
                {%if selected_sensor == sensor_id%}
                <option value="{{sensor_id}}" selected="selected">
                {% else %}
                <option value="{{sensor_id}}">
                {% endif %}
                {{sensor_name}}
                </option>
                
                {% endfor %}
                
            </select>
            <select name="sensor_reading" required onchange="this.form.submit()">
                <option value="" selected disabled hidden>Choose reading</option>
                {% for sensor_reading in sensor_readings %}
                
                {%if selected_reading == sensor_reading%}
                <option value="{{sensor_reading}}" selected="selected">
                {% else %}
                <option value="{{sensor_reading}}">
                {% endif %}
                {{sensor_reading}}
                </option>
                
                {% endfor %}
            </select>
            <select name="condition" required onchange="this.form.submit()">
                <option value="" selected disabled hidden>Choose condition</option>
                {% for cond in conditions_list %}
                
                {%if selected_condition == cond%}
                <option value="{{cond}}" selected="selected">
                {% else %}
                <option value="{{cond}}">
                {% endif %}
                {{cond}}
                </option>
                
                {% endfor %}
                
            </select>
            <label for="threshold"><small>threshold:</small></label>
            {% if threshold %}
            <input name="threshold" type="number" value={{threshold}} step="0.001" onchange="this.form.submit()" style="width: 5em;">
            {% else %}
            <input name="threshold" type="number" value="" step="0.001" onchange="this.form.submit()" style="width: 5em;">
            {% endif %}
            </p>
            <p>
            <select name="actuator_id" required onchange="this.form.submit()">
                <option value="" selected disabled hidden>Choose actuator</option>
                {% for actuator_id, actuator_name in actuators_list.items() %}
                
                {%if selected_actuator == actuator_id%}
                <option value="{{actuator_id}}" selected="selected">
                {% else %}
                <option value="{{actuator_id}}">
                {% endif %}
                {{actuator_name}}
                </option>
                
                {% endfor %}
                
            </select>
            <select name="actuator_action" required onchange="this.form.submit()">
                <option value="" selected disabled hidden>Choose action</option>
                {% for actuator_action in actuator_actions %}
                
                {%if selected_action == actuator_action%}
                <option value="{{actuator_action}}" selected="selected">
                {% else %}
                <option value="{{actuator_action}}">
                {% endif %}
                {{actuator_action}}
                </option>
                
                {% endfor %}
            </select>
            <label for="true_value"><small>Actuator value: if true:</small></label>
            {% if true_value %}
            <input name="true_value" type="number" value={{true_value}} step="0.001" onchange="this.form.submit()" style="width: 5em;">
            {% else %}
            <input name="true_value" type="number" value="" step="0.001" onchange="this.form.submit()" style="width: 5em;">
            {% endif %}
            <label for="true_value"><small>if false:</small></label>
            {% if false_value %}
            <input name="false_value" type="number" value={{false_value}} step="0.001" onchange="this.form.submit()" style="width: 5em;">
            {% else %}
            <input name="false_value" type="number" value="" step="0.001" onchange="this.form.submit()" style="width: 5em;">
            {% endif %}
                
                {%if request_ready %}
                <input type="submit" name="Submit Rule">
                {% else %}
                <input type="submit" name="Submit Rule" disabled="disabled">
                {% endif %}
            </p>
        </form>
        
        
<!--        {%if selected_sensor%}-->
<!--            <h2>Selected sensor: {{selected_sensor}}</h2>-->
<!--        {% else %}-->
<!--            <h2>No sensor selected</h2>-->
<!--        {% endif %}-->
    </body>
</html>